<div class="content">
  <div class="header">
    <h2 class="heading">Algorithm Implementations</h2>
    <div class="button-group">
      <button class="add-btn" mat-button (click)="onCreateImplementation()" *ngIf="!isLoggedIn">
        Add Implementation
        <mat-icon aria-hidden="true">add</mat-icon>
      </button>
      <button mat-icon-button (click)="refreshAlgorithms()" aria-label="refresh algorithm list"><mat-icon>refresh</mat-icon></button>
    </div>
  </div>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let algo of allAlgorithms | async; trackBy: trackAlgorithmsBy">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ algo.name ? algo.name : 'Algorithm' }}
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="impls">
        <h4>Implementations</h4>
        <mat-nav-list>
          <a mat-list-item *ngFor="let impl of algo.implementations; trackBy: trackImplementationsBy" [routerLink]="['/algorithms', impl.implementedAlgorithm, 'implementations', impl.id]">
            <span class="impl-name">{{ impl.name }}</span>
            <span class="impl-sdk">SDK: {{ impl.sdk ? impl.sdk : '–' }}</span>
            <span class="impl-lang">Language: {{ impl.language ? impl.language :'–' }}</span>
          </a>
        </mat-nav-list>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
