<div class="content">
    <h2 class="heading">Algorithms</h2>
    <mat-card>
        <div class="addImpl" *ngIf="!isLoggedIn">
            <button
                    mat-icon-button
                    aria-label="Add new implementation"
                    (click)="onCreateImplementation()"
            >
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <mat-accordion>
            <mat-expansion-panel *ngFor="let algo of allAlgorithms | keyvalue">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ algo.key }}
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="impls">
                    <h4>Implementations</h4>
                    <div *ngFor="let impl of algo.value" class="implNames" (click)="navigateToImplementation(impl)">
                        <p>{{ impl.name }}</p>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card>
</div>
