//@use "theme" as theme;

.edit-icon {
  cursor: pointer;
  user-select: none;
}

.input-label {
  color: rgba(0, 0, 0, 0.54);
}

mat-form-field {
  min-width: 100%;
  line-height: normal;
}

textarea.mat-input-element {
  padding: 0;
  margin: 0;
}

.sdk-select-group {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.sdkselect {
  flex-grow: 1;
}

.newSdkButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
}
