<div>
    <mat-form-field>
        <mat-label class="input-label">{{ name }}</mat-label>
        <input
                type="text"
                [(ngModel)]="inputValue"
                (ngModelChange)="inputChanged()"
                matInput
                (keydown.enter)="saveChanges()"
        />
        <textarea
                [(ngModel)]="inputValue"
                (ngModelChange)="inputChanged()"
                [cdkTextareaAutosize]="true"
                [cdkAutosizeMinRows]="1"
                matInput
        ></textarea>
        <button
                *ngIf="(inputValue !== value)"
                mat-button
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="saveChanges()"
        >
            <mat-icon>save</mat-icon>
        </button>
    </mat-form-field>
</div>
