// eslint-disable-next-line prefer-arrow/prefer-arrow-functions
(function (window) {
  window['env'] = window['env'] || {};

  // Environment variables
  window['env']['production'] = true;
  window['env']['nisqAnalyzer'] = "${NISQ_ANALYZER_HOST_NAME}" ? true : false;
  window['env']['NISQ_ANALYZER_HOST_NAME'] = "${NISQ_ANALYZER_HOST_NAME}";
  window['env']['NISQ_ANALYZER_PORT'] = "${NISQ_ANALYZER_PORT}";
})(this);
