@use '@angular/material' as mat;

@include mat.core();

/* PlanQK Red based on #E12D32 */

$planqkred: (
        50 : #fbe6e6,
        100 : #f6c0c2,
        200 : #f09699,
        300 : #ea6c70,
        400 : #e64d51,
        500 : #e12d32,
        600 : #dd282d,
        700 : #d92226,
        800 : #d51c1f,
        900 : #cd1113,
        A100 : #fffbfb,
        A200 : #ffc8c8,
        A400 : #ff9596,
        A700 : #ff7b7d,
        contrast: (
                50 : #000,
                100 : #000,
                200 : #000,
                300 : #000,
                400 : #fff,
                500 : #fff,
                600 : #fff,
                700 : #fff,
                800 : #fff,
                900 : #fff,
                A100 : #000,
                A200 : #000,
                A400 : #000,
                A700 : #000,
        )
);

/* PlanQK blue based on #3D78B5 */

$planqkblue: (
        50 : #e8eff6,
        100 : #c5d7e9,
        200 : #9ebcda,
        300 : #77a1cb,
        400 : #5a8cc0,
        500 : #3d78b5,
        600 : #3770ae,
        700 : #2f65a5,
        800 : #275b9d,
        900 : #1a488d,
        A100 : #c5daff,
        A200 : #92baff,
        A400 : #5f9aff,
        A700 : #468aff,
        contrast: (
                50 : #000,
                100 : #000,
                200 : #000,
                300 : #000,
                400 : #000,
                500 : #fff,
                600 : #fff,
                700 : #fff,
                800 : #fff,
                900 : #fff,
                A100 : #000,
                A200 : #000,
                A400 : #000,
                A700 : #000,
        )
);

$planqk-palette-primary: mat.define-palette($planqkblue);
$planqk-palette-accent: mat.define-palette($planqkred);

$planqk-theme: mat.define-light-theme($planqk-palette-primary, $planqk-palette-accent);

@include mat.all-component-themes($planqk-theme);

.input-field {
  width: 100%;
}

html, body {
  margin: 0;
  height: 100vh;
  font-family: Roboto, Arial, sans-serif;
}

.content {
  margin-inline: 1.5em;
}

.heading {
  font-weight: 33
}
