<div>
    <mat-toolbar color="primary" id="pa_header">
        <a *ngIf="!plugin.isPlugin" href="https://platform.planqk.de/my-content">
            <img src="https://platform.planqk.de/img/PlanQK_Logo_Weiss_Beta_Version.5b689144.svg" alt="PlanQK Logo"
                 width="250"
                 style="max-width: 7rem; margin-top: 1rem"/>
        </a>
        <span (click)="goToHome()" style="margin-left: 1rem; cursor: pointer">NISQ Analyzer</span>
        <span class="spacer"></span>
        <div *ngIf="!plugin.isPlugin">
            <a mat-stroked-button href="https://platform.planqk.de/my-content">Back to the PlanQK platform</a>
            <button
                    class="settings-button"
                    mat-icon-button
                    type="Login"
                    (click)="login()"
            >
                <mat-icon *ngIf="!bearerTokenSet">account_box</mat-icon>
                <mat-icon *ngIf="bearerTokenSet">logout</mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
</div>
